.landing-wrapper {
    background-image: url('./../assets/images/driverbackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.landing-overlay {
    background: linear-gradient(90deg, rgba(255,255,255,0.2) 15%, rgba(175,172,173,0.4) 51%, rgba(0,0,0,1) 100%);
    height: 100%;
    width: 100vw;
    font-family: Poppins;
    color: rgb(255, 255, 255);
}
.landing-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn.landing-button {
    border: none;
    border-radius: 0%;
    background-color: rgb(238, 199, 24);

}
.info-wrapper {
    background: #dfdfdf;
    height: 90vh;
    width: 100%;
}

.schedule-wrapper {
    background-image: url('./../assets/images/driverexcited.jpg');
    backdrop-filter: blur(15px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
}
.scheduler {
    height: 600px;
    width: 800px;
    background:rgb(236, 236, 43, .8);
    border-radius: 10px;
}